##  Categorical Encoding Methods

### What is Categorical Data?

* Categorical data is a type of the data that is used to group information with similar characteristics.
* ex:- gender, class, educational_qualification

### What is the need of Encoding?

Most machine learning algorithms cannot handle categorical variables unless we convert them to numerical values.

In [1]:
import pandas as pd

## Creating dataframe
df = pd.DataFrame({ 'gender' : ['Male', 'Female', 'Male', 'Female','Female','Male'],
                    'marital_status' : ['Married','Single','Married','Single','MArried', 'Single'],
                    'city' : ['Delhi','Mumbai','Kolkata','Delhi','Kolkata','Chennai'],
                    'temperature' :['very cold', 'cold', 'warm', 'hot', 'very hot','hot'],
                    'target' : [1, 0, 0, 1, 1, 1] })
df.head()

   gender marital_status     city temperature  target
0    Male        Married    Delhi   very cold       1
1  Female         Single   Mumbai        cold       0
2    Male        Married  Kolkata        warm       0
3  Female         Single    Delhi         hot       1
4  Female        MArried  Kolkata    very hot       1

In [3]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.14.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.23.4)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.9.3)
Requirement already satisfied: pandas>=1.0.5 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2022.5)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.10/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0
Note: you may need to restart the kernel to use updated packages.

## 1.One-Hot Encoding

* In this method, each category is mapped to a vector that contains 1 and 0 denoting the
presence or absence of the feature. The number of vectors depends on the number of categories
for features

In [4]:
import category_encoders as ce
ce_ohe = ce.OneHotEncoder(cols=['gender','city','marital_status'])
ce_ohe_df = ce_ohe.fit_transform(df)
ce_ohe_df.head()

,gender_1,gender_2,marital_status_1,marital_status_2,marital_status_3,city_1,city_2,city_3,city_4,temperature,target
0,1,0,1,0,0,1,0,0,0,very cold,1
1,0,1,0,1,0,0,1,0,0,cold,0
2,1,0,1,0,0,0,0,1,0,warm,0
3,0,1,0,1,0,1,0,0,0,hot,1
4,0,1,0,0,1,0,0,1,0,very hot,1

## 2.Binary Encoding

* Binary encoding converts a category into binary digits. Each binary digit creates one feature column.

In [5]:
ce_be = ce.BinaryEncoder(cols=['city'])
df_binary = ce_be.fit_transform(df['city'])
df_binary

   city_0  city_1  city_2
0       0       0       1
1       0       1       0
2       0       1       1
3       0       0       1
4       0       1       1
5       1       0       0

## 3.Label Encoding

* In label encoding, each category is assigned a value from 1 t0 N where N is the number of categories for the feature. There is no relation or order between these assignments.

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in df.columns:
    df_le = le.fit_transform(df[col])
    print(col,' : ',df_le)

gender  :  [1 0 1 0 0 1]
marital_status  :  [1 2 1 2 0 2]
city  :  [1 3 2 1 2 0]
temperature  :  [2 0 4 1 3 1]
target  :  [1 0 0 1 1 1]

## 4.Ordinal Encoding

* Ordinal encoding’s encoded variables retain the ordinal (ordered) nature of the variable. It
looks similar to label encoding, the only difference being that label coding doesn’t consider
whether a variable is ordinal or not; it will then assign a sequence of integers.
* Example: Ordinal encoding will assign values as Very Good(1) < Good(2) < Bad(3) <
Worse(4)
* First, we need to assign the original order of the variable through a dictionary.

In [9]:
dict = {'very cold':1,'cold':2,'warm':3,'hot':4,'very hot':5}
df['Temp_ordinal'] = df['temperature'].map(dict)
df

   gender marital_status     city temperature  target  Temp_ordinal
0    Male        Married    Delhi   very cold       1             1
1  Female         Single   Mumbai        cold       0             2
2    Male        Married  Kolkata        warm       0             3
3  Female         Single    Delhi         hot       1             4
4  Female        MArried  Kolkata    very hot       1             5
5    Male         Single  Chennai         hot       1             4